<%- include ( 'partials/header' ) %>

<h1>This is the show template!</h1>

<div class="col-md-3 col-sm-6">
  <div class="thumbnail">
    <div class="caption text-center">
      <h4><%= word.name %> <%= word.transcript %>  &#x2192  &#x2308<%= word.translation %>&#x230B </h4>
    </div>
    <img src="<%= path + word.image %>" alt="word image">
    <p style="margin: 10px 0 0 10px;"><strong>Часть речи:</strong> <%= word.part_of_speech %></p>
    <p style="margin: 10px 0 0 10px;"><strong>Уровень слова:</strong> <%= word.level %></p>
    <p style="margin: 10px 0 0 10px;"><strong>Пример:</strong> <%= word.example %></p>
    <p style="margin: 10px 0 0 10px;"><strong>Описание:</strong> <%= word.description %></p>
    <p style="margin: 10px 0 0 10px;"><strong>Дата добавления:</strong> <%= word.created %></p> 
  </div>
</div>
<%- include ( 'partials/footer' ) %>